*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.background{
    width: 100vw;
    height: 100vh;
}

.image{
    height: 350px;
}

.red{
    background-color: red;
    position: relative;
    color: yellow;
}

.content_red{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 3rem;
    text-align: center;
}



.green{
    background-color: green;
    position: relative;
    color: yellow;
}

.content_green{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 3rem;
    text-align: center;
}

.yellow{
    background-color: yellow;
    position: relative;
    color: green;
}

.content_yellow{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 3rem;
    text-align: center;
}

.numbers{
    margin-left: 1162px;
}

.number{
    color: black;
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    font-size: 1.5rem;
    margin: 30px;
}